 <%= form_for message, url: interested_path, class: "form-horizontal" do |f| %>
    <fieldset>
      <div class="form-group">
        <%# f.label :name, "Nombre" , class: "col-lg-2 control-label"%>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
        <%= f.text_field :name, class: "form-control", placeholder: "Full Name" %>
        </div>
      </div>
      <div class="form-group">
        <%# f.label :email , class: "col-lg-2 control-label" %>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
          <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
        </div>
      </div>
      <div class="form-group">
        <%# f.label :ideas, "Cuál es tu idea?", class: "col-lg-2 control-label" %>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
          <%= f.text_area :ideas , class: "form-control", rows: "3", placeholder: "Leave me your phone" %>
        </div>
      </div>

      <div class="form-group">
        <%# f.label :body, "Principal interés" , class: "col-lg-2 control-label" %>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <%= f.text_area :body, class: "form-control", rows: "3", placeholder: "What is the issue and I'll get back to you ASAP." %>
        </div>
      </div>
      <div class="form-group">
        <br />
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <%= recaptcha_tags theme: 'dark' %>
        </div>
        <br />
      </div>

    <div class="form-group">
      <div class="centered">
        <%= f.submit "SEND NOW", class: "btn btn-lg btn-info" %>
      </div>
    </div>
  </fieldset>
<% end %>
