 <%= form_for message, url: interested_path, class: "form-horizontal" do |f| %>
    <fieldset>
    <div class="form-group">
      <%= f.label :name, "Nombre" , class: "col-lg-2 control-label"%>
      <div class="col-lg-10">
      <%= f.text_field :name, class: "form-control", placeholder: "Ingresa tu nombre" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email , class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.email_field :email, class: "form-control", placeholder: "Un mail al cual darte más información" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :ideas, "Cuál es tu idea?", class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_area :ideas , class: "form-control", placeholder: "Ingresa tus idea o tus proyectos de aplicaciones web" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :body, "Principal interés" , class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_area :body, class: "form-control", rows: "3", placeholder: "Cuéntame por qué quieres participar?" %>
        
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
         <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <%= f.submit "Enviar", class: "btn btn-lg btn-info" %>
      </div>
    </div>
  </fieldset>
<% end %>