 <%= form_for message, url: interested_path do |f| %>
    <div class="form-group">
      <%= f.label :name, "Dime tu Nombre" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email, "Un mail al cuál darte más información" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :body, "Cuéntame qué estás buscando?" %>
      <%= f.text_area :body, class: "form-control" %>
    </div>
  
    <div class="form-group">
    <%= f.submit "Enviar", class: "btn btn-lg btn-primary" %>
    </div>
<% end %>