<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for Facebook -->  
    <meta property="og:title" content="Aprender a desarrollar en Ruby on Rails con un mentor online" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://gabrielsarmiento.com" />
    <meta property="og:image:url" content="<%= asset_path('90-hrs-wk.png') %>"/>
    <meta property="og:site_name" content="Gabosarmiento" />
    <meta property="og:description" content="Gabriel Sarmiento ahora es mentor y quiere construir aplicaciones en conjunto con personas que puedan dedicar 90 horas a la semana y hacer cosas sorprendentes. Te acompañará en sesiones en streaming y acompañamiento remoto." />
    <!-- for Google -->
    <meta name="description" content="Aprende a desarrollar y conviertete en un trabajador web en 30 días conociendo herramientas de desarrollo en Backend, Frontend, Startups, productividad web, freelance y desarrollar un estilo de vida como aprendiz.">
    <meta name="author" content="Gabriel Sarmiento">
  <title>Gabriel Sarmiento</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Alert Messages -->
  <%= render 'layouts/notifications' %>
  <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag("90-hrs-wk.png") %>
          gabosarmiento
          <% end %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Por qué lo hago?", por_que_lo_hago_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <%= yield %>

</body>
</html>
