<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for Facebook -->  
    <meta property="og:title" content="Conviertete en trabajador web en 30 días desarrollando, diseñando y nunca parando de aprender." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.gabrielsarmiento.com/" />
    <meta property="og:image" content="<%= asset_path('promoimage.png') %>"/>
    <meta property="og:site_name" content="Mi nuevo mentor" />
    <meta property="og:description" content="Gabriel Sarmiento es un mentor que te acompañará en sesiones en vivo y acompañamiento remoto para que puedas aprender las herramientas necesarias para ser un trabajador web. Conocerás lenguajes de programación, herramientas que te facilitan la vida, desarrollaras tus propias aplicaciones, aprenderás dónde encontrar la mejor información, conocerás historias y casos reales de otros trabajadores web y sabrás como mantenerte aprendiendo permanentemente como un estilo de vida. " />
    <!-- for Google -->
    <meta name="description" content="Aprende a desarrollar y conviertete en un trabajador web en 30 días conociendo herramientas de desarrollo en Backend, Frontend, Startups, productividad web, freelance y desarrollar un estilo de vida como aprendiz.">
    <meta name="author" content="Gabriel Sarmiento">
  <title>Gabriel Sarmiento</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Alert Messages -->
  <%= render 'layouts/notifications' %>
  <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "gabosarmiento", root_path, class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="#info">Requerimientos</a></li> -->
            <!--<li><a href="#about">Quién soy</a></li>
            <li><a href="#contact">Contactame</a></li> -->
            <li><%= link_to "Por qué lo hago?", por_que_lo_hago_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <%= yield %>

</body>
</html>
