<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I've always wanted to give more to this world but it's very hard to overcome excuses. Then you become a father and life seems incredibly short that you can't complaint for not doing what you were meant to be.">
    <meta name="author" content="Gabriel Sarmiento">
  <title>Gabriel Sarmiento</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Alert Messages -->
  <%= render 'layouts/notifications' %>
  <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "gabosarmiento", root_path, class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="#work">Proyectos</a></li>
            <li><a href="#about">Quién soy</a></li>
            <li><a href="#contact">Contactame</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <%= yield %>

</body>
</html>
