<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for Facebook -->
    <meta property="og:title" content="Soft-landing consulting for Foreigners in France" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.gabrielsarmiento.com/" />
    <meta property="og:image" content="<%= asset_url('gabriel-sarmiento-stationf.jpg') %>"/>
    <meta property="og:image:url" content="<%= asset_url('gabriel-sarmiento-stationf.jpg') %>"/>
    <meta property="og:site_name" content="Advisory for foreigners, coach for french tech visa holders" />
    <!-- for Google -->
    <meta name="description" content="Soft-landing consulting. Service starts at €75 per hour. Let's make your French startup dream into a reality.">
    <meta name="author" content="Gabriel Sarmiento">
  <title>Gabriel Sarmiento</title>
  <%= favicon_link_tag asset_url('favicon.ico') %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Alert Messages -->
  <%= render 'layouts/notifications' %>
  <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag("logo-gabriel-sarmiento-verde.png") %>
          Gabriel Sarmiento
          <% end %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "why do i do it?", por_que_lo_hago_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <%= yield %>

</body>
</html>
