<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for Facebook -->
    <meta property="og:title" content="My feedback as a service. I'll truly listen and advise you." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.gabrielsarmiento.com/" />
    <meta property="og:image" content="<%= asset_url('90-hrs-wk.png') %>"/>
    <meta property="og:image:url" content="<%= asset_url('90-hrs-wk.png') %>"/>
    <meta property="og:site_name" content="Gabosarmiento" />
    <meta property="og:description" content="Starting at US$75 a month we'll make your startup idea into reality." />
    <!-- for Google -->
    <meta name="description" content="My feedback as a service for US$75 a month. Let's make your startup idea into reality.">
    <meta name="author" content="Gabriel Sarmiento">
  <title>Gabriel Sarmiento</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Alert Messages -->
  <%= render 'layouts/notifications' %>
  <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag("90-hrs-wk.png") %>
          gabosarmiento
          <% end %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "get to know my mantra", por_que_lo_hago_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <%= yield %>

</body>
</html>
